name: Mirror to GitLab

on:
  push:
    branches: [ '**' ]     # همه شاخه‌ها (main, master, هر چی داری)
  create:
  delete:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to GitLab
        run: |
          git remote add gitlab ${{ secrets.GITLAB_MIRROR_URL }}
          git push gitlab --all --force
          git push gitlab --tags --force
